In [1]:
print("hello")

hello

In [5]:
print("hello world")

hello world

In [6]:
print("Python's world")

Python's world

In [8]:
print("Hello\nPython")

Hello
Python

In [9]:
print("Hello\tPython")

Hello	Python

In [13]:
print("Python\'s world")

Python's world

In [14]:
print("Hello\aPython")

HelloPython

In [15]:
name = "ABC"
marks = 98.896
age = 25
print("The name of person is",name,"marks is",marks,"age is",age)

The name of person is ABC marks is 98.896 age is 25

In [16]:
name = "ABC"
marks = 98.896
age = 25
print("The name of person is %s marks is %f age is %d"%(name,marks,age))

The name of person is ABC marks is 98.896000 age is 25

In [17]:
name = "ABC"
marks = 98.896
age = 25
print("The name of person is %10s marks is %10.2f age is %10d"%(name,marks,age))

The name of person is        ABC marks is      98.90 age is         25

In [20]:
name = "ABC"
marks = 98.896
age = 25
print(f"The name of person is {name} marks is{marks} age is {age}")

The name of person is ABC marks is98.896 age is 25

# python assignment statement

In [22]:
x = y = z = 10
print(x)
print(y)
print(z)

10
10
10

In [26]:
id(x)

140714462188640

In [27]:
x = 20
print(x)

20

In [28]:
id(x)

140714462188960

In [29]:
y = 20
print(y)

20

In [30]:
id(y)

140714462188960

In [31]:
z = 30
print(z)

30

In [32]:
id(z)

140714462189280

In [33]:
del x

# Operators : Arithmetic Operators

In [35]:
10+20

30

In [36]:
10-20

-10

In [37]:
10*20

200

In [38]:
20/10

2.0

In [39]:
10/3

3.3333333333333335

In [40]:
10%3

1

In [41]:
10//3

3

In [42]:
5**5

3125

# Comparison Operators

In [43]:
a = 10
b = 20
a == b

False

In [44]:
c = 10
a == c

True

In [45]:
c < a

False

In [46]:
c <= a

True

In [47]:
a > b

False

In [48]:
a >= b

False

In [49]:
a != b

True

In [50]:
a != c

False

# Assignment Operators

In [51]:
a = 10
10*40

400

In [55]:
a = 10
b = 20
a += b
print(a)

30

In [56]:
a -= b
print(a)

10

In [57]:
a *= b
print(a)

200

In [58]:
a /= b
print(a)

10.0

In [59]:
a **= b
print(a)

1e+20

# Logical Operators

In [60]:
a = 1
b = 20
a > b

False

In [61]:
a > 20 or 10 > 9

True

In [62]:
a > 20 and 10 > 9

False

In [63]:
10 > 9 and 20 > M

NameError: name 'M' is not defined

In [64]:
10 > 9 or 20 > M

True

In [65]:
10 < 9 and 20 > M

False

In [66]:
10 < 9

False

In [67]:
not 10 < 9

True

In [68]:
not True

False

# Membership Operators

In [69]:
str1 = "pythonprogramming"
"a" in str1

True

In [70]:
str1 = "pythonprogramming"
"x" in str1

False

In [72]:
str1 = "pythonprogramming"
"x" not in str1

True

In [73]:
str1 = "pythonprogramming"
"a" not in str1

False

# Identity Operators

In [74]:
a = 10
b = 10
a == b

True

In [75]:
a is b

True

In [76]:
id(a)

140714462188640

In [77]:
id(b)

140714462188640

In [78]:
x = 1.5
y = 1.5
x == y

True

In [79]:
x is y

False

In [80]:
id(x)

2039286516952

In [81]:
id(y)

2039286516976

In [82]:
a = 257
b = 257
a == b

True

In [83]:
 a is b

False

In [87]:
10+10/20*4

12.0

In [88]:
10/20

0.5

In [89]:
2 ** -1

0.5

In [90]:
7 // 3

2

In [91]:
10 > 8 > 9

False